@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트 noto sans korean */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* font-awsome v6.3.0 */
@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');
/* swiper 8.4.6 */

/* artbread_sub pc */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* line-height: 1; */
    /* outline: 1px solid red; */
    word-break: keep-all;
    letter-spacing: -0.02rem;
    color: var(--colorBlack);
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --colorGrey: #969696;
    --colorLightGrey: #d9d9d9;
    --colorGreen: #4d6846;
    --colorblue: #0890CA;
    --colorred: #F94545;
    --swiper-theme-color: #000000;
}
i > span {
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.banner {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--colorLightGrey);
}
.banner .inner h3 {
    /* font-size: 25px; */
    font-size: 1.5625rem;
    font-weight: 400;
}
.banner .inner span {
    font-weight: 700;
    color: var(--colorGreen);
}
.top {
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid var(--colorLightGrey);
    position: relative;
    z-index: 200;
    background: var(--colorWhite);
}
.top .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
}
.top .topL {
    display: flex;
    gap: 20px;
    margin: 0 325px 0 0;
    height: 100%;
}
.top .tel {
    flex: 1 0 249px;
    padding: 10px 30px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}
.top .tel > span:nth-child(2) {
    color: var(--colorGrey);
}
.top .tel > span:first-of-type {
    margin: 0 5px 0 0;
}
.top .submenu > span {
    height: 40px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 134px;
    cursor: pointer;
}
.top .submenu > span::before {
    content: "\f0c9";
    color: var(--colorGrey);
}
.top .topR {
    display: flex;
    gap: 20px;
    height: 100%;
}
.top .topR > .gnb1 {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    /* font-size: 13px; */
    font-size: 0.8125rem;
}
.top .topR .gnb1 > li {
    color: var(--colorGrey);
}
.top .topR .gnb1 > li:hover {
    color: var(--colorBlack);
}
.top .topR > .search {
    padding: 10px;
}
.top .topR .search i {
    content: "\f002";
    /* font-size: 20px; */
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.top .submenu {
    position: relative;
}
.top .submenu ul {
    width: 169px;
    height: auto;
    display: none;
    flex-direction: column;
    text-align: left;
    padding: 20px 30px;
    gap: 10px;
    background: var(--colorWhite);
    border: 1px solid var(--colorLightGrey);
    box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 40px;
    left: 0;
    /* font-size: 18px; */
    font-size: 1.125rem;
}
.top .submenu ul.on {
    display: flex;
}
.top .submenu ul li {
    color: var(--colorGrey);
}
.top .submenu ul li:hover {
    color: var(--colorBlack);
}
.top .topR .popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transform: translateY(-100%);
    transition: transform 0.5s;
}
.top .topR .popup.on {
    display: flex;
    transform: translateY(0%);
}
.top .topR .popup input {
    width: 45%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 4px solid var(--colorWhite);
    color: var(--colorWhite);
    /* font-size: 30px; */
    font-size: 1.875rem;
}
.top .topR .popup i:nth-of-type(1) {
    color: var(--colorWhite);
    /* font-size: 50px; */
    font-size: 3.125rem;
}
.top .topR .popup i:nth-of-type(2) {
    color: var(--colorWhite);
    /* font-size: 50px; */
    font-size: 3.125rem;
    position: absolute;
    top: 40px;
    right: 60px;
}
.header2 {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--colorWhite);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
}
nav {
    width: 100%;
    height: 80px;
    display: flex;
}
nav .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
nav a.logo {
    width: 160px;
    height: 41px;
    background: url(/portfolio/images/artbread/logo.png) no-repeat 50% 50% / cover;
    text-indent: -200px;
    overflow: hidden;
    margin: 0 135px 0 0;
}
nav .gnb2 {
    display: flex;
    align-items: center;
    gap: 50px;
    /* font-size: 18px; */
    font-size: 1.125rem;
    font-weight: 700;
}
nav .gnb2 > li:hover {
    color: var(--colorGreen);
}
.header2 .inner > i:first-of-type,
.header2 .inner > i:last-of-type {
    display: none;
}
.header2 .gnbmb {
    display: none;
}
.header2 .inner > i {
    display: none;
}
.header2 .popup {
    display: none;
}
.sec01 {
    width: 100%;
    margin: 100px 0 0 0;
}
.sec01 .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 70px;
}
.sec01 .left {
    width: 60%;
    display: flex;
    gap: 30px;
}
.sec01 .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--colorBlack);
    border-bottom: 2px solid var(--colorBlack);
}
.sec01 .leftbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    height: 70%;
}
.sec01 .leftbox div {
    cursor: pointer;
}
.sec01 .leftbox .img01 {
    background: url(/portfolio/images/artbread_sub/sec01pd01.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 25%;
}
.sec01 .leftbox .img02 {
    background: url(/portfolio/images/artbread_sub/sec01pd02.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 25%;
}
.sec01 .leftbox .img03 {
    background: url(/portfolio/images/artbread_sub/sec01pd03.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 25%;
}
.sec01 .leftbox .img04 {
    background: url(/portfolio/images/artbread_sub/sec01pd04.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 25%;
}
.sec01 .leftbox .img05 {
    background: url(/portfolio/images/artbread_sub/sec01pd05.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 25%;
}
.sec01 .rightbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}
.sec01 .rightbox .img01 {
    background: url(/portfolio/images/artbread_sub/sec01pd01.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 100%;
}
.sec01 .rightbox .img02 {
    background: url(/portfolio/images/artbread_sub/sec01pd02.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 100%;
}
.sec01 .rightbox .img03 {
    background: url(/portfolio/images/artbread_sub/sec01pd03.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 100%;
}
.sec01 .rightbox .img04 {
    background: url(/portfolio/images/artbread_sub/sec01pd04.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 100%;
}
.sec01 .rightbox .img05 {
    background: url(/portfolio/images/artbread_sub/sec01pd05.png) no-repeat 50% 50% / cover;
    width: 100%;
    height: 100%;
}
.sec01 .rightbox div {
    display: none;
    cursor: pointer;
}
.sec01 .rightbox div.on {
    display: block;
}
.sec01 .txtbox01 {
    display: flex;
    flex-direction: column;
    margin: 45px 0 40px 0;
}
.sec01 .txtbox01 p {
    color: var(--colorblue);
    font-weight: 500;
}
.sec01 .txtbox01 h3 {
    /* font-size: 25px; */
    font-size: 1.5625rem;
}
.sec01 .txtbox02 {
    display: flex;
    flex-direction: column;
}
.sec01 .txtbox02 p del {
    color: var(--colorGrey);
    /* font-size: 20px; */
    font-size: 1.25rem;
    position: relative;
}
.sec01 .txtbox02 h3 span {
    color: var(--colorblue);
    margin: 0 20px 0 0;
}
.sec01 .txtbox02 h3 {
    /* font-size: 30px; */
    font-size: 1.875rem;
}
.sec01 .right > p {
    /* font-size: 14px; */
    font-size: 0.875rem;
    margin: 30px 0 30px 0;
}
.sec01 .txtbox03 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sec01 .txtbox03 .sg01 span {
    color: var(--colorred);
    font-weight: 500;
}
.sec01 .txtbox03 .sg03 {
    display: flex;
    gap: 59px;
}
.sec01 .txtbox03 .sg01,
.sec01 .txtbox03 .sg02,
.sec01 .txtbox03 .sg04 {
    display: flex;
    gap: 30px;
}
.sec01 .btbox01 {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--colorLightGrey);
    border-bottom: 1px solid var(--colorLightGrey);
    padding: 20px 0 20px 0;
    gap: 60px;
}
.sec01 .btbox01 .sg05 {
    display: flex;
    gap: 10px;
}
.sec01 .btbox01 .sg05 span {
    border: 1px solid var(--colorLightGrey);
    padding: 3px 5px;
    cursor: pointer;
    /* font-size: 14px; */
    font-size: 0.875rem;
}
.sec01 .txtbox03 p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* font-size: 14px; */
    font-size: 0.875rem;
    margin: 10px 0 15px 0;
    line-height: 1;
}
.sec01 .txtbox03 p span {
    /* font-size: 25px; */
    font-size: 1.5625rem;
    font-weight: 700;
    margin: 0 5px 0 5px;
}
.sec01 .btbox02 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec01 .btbox02 .top2 {
    display: flex;
    height: 100%;
}
.sec01 .btbox02 .top2 > span {
    display: flex;
    width: 100%;
    height: 70px;
    background: var(--colorBlack);
    color: var(--colorWhite);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.3);
    /* font-size: 30px; */
    font-size: 1.875rem;
    letter-spacing: 5px;
    cursor: pointer;
}
.sec01 .btbox02 .bottom {
    display: flex;
    height: 100%;
    gap: 5px;
    margin: 0 0 20px 0;
}
.sec01 .btbox02 .bottom span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: var(--colorWhite);
    border: 1px solid var(--colorLightGrey);
    cursor: pointer;
}
.sec01 .btbox02 .bottom span:hover {
    border: 1px solid var(--colorBlack);
}
.sec01 .left > div:last-of-type{
    display: none;
}
.sec01 .btbox02 .top2 > i{
    display: none;
}
.sec02{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 200px 0px 100px 0px;
}
.sec02 .pagebox{
    display: flex;
    flex-direction: column;
    width: 860px;
    height: 100%;
}
.sec04{
    width: 100%;
    border-top: 1px solid var(--colorLightGrey);
}
.sec04 .inner {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: 70px auto 100px;
}
.sec04 .btbox {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px 0 0 0;
}
.sec04 .btbox span {
    border: 1px solid var(--colorLightGrey);
    padding: 5px 10px;
    /* font-size: 25px; */
    font-size: 1.5625rem;
    cursor: pointer;
}
.sec04 .btbox span.on {
    background: var(--colorBlack);
    color: var(--colorWhite);
}
.sec04 h3 {
    /* font-size: 35px; */
    font-size: 2.1875rem;
}
.sec04 table {
    border-collapse: collapse;
    border-bottom: 2px solid var(--colorBlack);
}
.sec04 caption {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 10px 0;
    /* font-size: 20px; */
    font-size: 1.25rem;
    color: var(--colorGrey);
}
.sec04 .table01,
.sec04 .table02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* font-size: 25px; */
    font-size: 1.5625rem;
    font-weight: 700;
}
.sec04 .table01 td > span,
.sec04 .table02 td > span {
    font-weight: 400;
}
.sec04 .table01 td,
.sec04 .table02 td {
    padding: 10px;
    border: 1px solid var(--colorBlack);
    border-left: none;
    border-right: none;
}
.sec04 .table01 tr:first-of-type,
.sec04 .table02 tr:first-of-type {
    border-top: 2px solid var(--colorBlack);
}
.sec04 .tablebox > div {
    display: none;
}
.sec04 .tablebox > div.on {
    display: flex;
}
footer {
    width: 100%;
    border-top: 1px solid var(--colorLightGrey);
}
footer .inner {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}
footer .copybox {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 150px;
}
.copybox .copytxt p {
    margin: 0 0 5px 0;
}
.copybox > div p {
    /* font-size: 13px; */
    font-size: 0.8125rem;
}
.copybox > div > p:first-of-type {
    font-weight: 700;
    margin: 0 0 10px 0;
}
.copybox .btbox {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 0 0;
}
.copybox .btbox a {
    padding: 5px 10px;
    background: var(--colorLightGrey);
    /* font-size: 13px; */
    font-size: 0.8125rem;
    font-weight: 400;
}
.copybox .btbox a:hover {
    background: var(--colorBlack);
    color: var(--colorWhite);
}
.cs .copytxt p:nth-of-type(1) {
    /* font-size: 25px; */
    font-size: 1.5625rem;
    font-weight: 700;
}
.fixebt{
    display: none;
}
.pdcheck{
    width: 300px;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
    border: 1px solid var(--colorBlack);
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.3);
}
.pdcheck.on{
    display: flex;
}
.pdcheck .pdcheck01{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--colorBlack);
    padding: 10px 15px 10px 15px;
}
.pdcheck .pdcheck01 span{
    color: var(--colorWhite);
    font-weight: 600;
}
.pdcheck .pdcheck01 i{
    color: var(--colorWhite);
    cursor: pointer;
    /* font-size: 20px; */
    font-size: 1.25rem;
}
.pdcheck .pdcheck02{
    background: var(--colorWhite);
    border-bottom: 1px solid var(--colorLightGrey);
    text-align: center;
    padding: 20px 0 20px 0;
}
.pdcheck .pdcheck02 p{
    /* font-size: 13px; */
    font-size: 0.8125rem;
}
.pdcheck .pdcheck02 span{
    font-weight: 700;
    color: var(--colorblue);
}
.pdcheck .pdcheck03{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: var(--colorWhite);
    padding: 10px 0 10px 0;
}
.pdcheck .pdcheck03 span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--colorLightGrey);
    border-radius: 3px;
    cursor: pointer;
    /* font-size: 14px; */
    font-size: 0.875rem;
    padding: 5px 10px 5px 10px;
}
.pdcheck .pdcheck03 span:first-of-type{
    background: var(--colorGrey);
    color: var(--colorBlack);
}
.pdcheck .pdcheck03 span:last-of-type{
    background: var(--colorBlack);
    color: var(--colorWhite);
}


