@charset "UTF-8";

/* artbread_sub tablet */

.banner {
    width: 100%;
}
.top .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top .topL {
    margin: 0 50px 0 0;
}
.top .tel {
    flex: 1 0 214px;
    margin: 0px;
}
.top .topL span {
    /* font-size: 13px; */
    font-size: 0.8125rem;
}
.top .submenu ul {
    /* font-size: 15px; */
    font-size: 0.9375rem;
}
.top .topR .gnb1 {
    /* font-size: 10px; */
    font-size: 0.625rem;
}
.top .topR .search {
    display: flex;
    align-items: center;
}
.top .topR .search i {
    /* font-size: 17px; */
    font-size: 1.0625rem;
}
.top .topR .popup input {
    height: 40px;
    border-bottom: 3px solid var(--colorWhite);
    /* font-size: 25px; */
    font-size: 1.5625rem;
}
.top .topR .popup i:nth-of-type(1) {
    /* font-size: 40px; */
    font-size: 2.5rem;
}
.top .topR .popup i:nth-of-type(2) {
    /* font-size: 40px; */
    font-size: 2.5rem;
}
.header2 .inner {
    width: 100%;
    justify-content: space-around;
}
nav .gnb2 {
    /* font-size: 15px; */
    font-size: 0.9375rem;
}
nav a.logo {
    margin: -5px
}
.sec01 {
    margin: 0px 0 0 0;
}
.sec01 .inner {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: unset;
}
.sec01 .left {
    width: 100%;
    border-bottom: 1px solid var(--colorLightGrey);
    padding: 0 0 55px 0;
}
.sec01 .right {
    width: 80%;
    border-top: none;
    border-bottom: none;
}
.sec01 .swiper {
    width: 100%;
    height: 550px;
    display: flex;
}
.sec01 .swiper-slide.img01 {
    background: url(/portfolio/images/artbread_sub/sec01pd01.png) no-repeat 50% 50% / cover;
    cursor: pointer;
}
.sec01 .swiper-slide.img02 {
    background: url(/portfolio/images/artbread_sub/sec01pd02.png) no-repeat 50% 50% / cover;
    cursor: pointer;
}
.sec01 .swiper-slide.img03 {
    background: url(/portfolio/images/artbread_sub/sec01pd03.png) no-repeat 50% 50% / cover;
    cursor: pointer;
}
.sec01 .swiper-slide.img04 {
    background: url(/portfolio/images/artbread_sub/sec01pd04.png) no-repeat 50% 50% / cover;
    cursor: pointer;
}
.sec01 .swiper-slide.img05 {
    background: url(/portfolio/images/artbread_sub/sec01pd05.png) no-repeat 50% 50% / cover;
    cursor: pointer;
}
.swiper-scrollbar{
    border-radius: 0px;
}
.swiper-scrollbar-drag {
    background: var(--colorBlack);
    border-radius: 0px;
}
.sec01 .btbox02 .top2 > span {
    width: 80%;
    height: 60px;
    box-shadow: unset;
    letter-spacing: 1px;
}
.sec01 .btbox02 .top2 > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    /* font-size: 30px; */
    font-size: 1.875rem;
    border: 1px solid var(--colorLightGrey);
    cursor: pointer;
}
.sec01 .leftbox {
    display: none;
}
.sec01 .rightbox {
    display: none;
}
.sec01 .left > div:last-of-type {
    display: unset;
}
.sec01 .btbox02 .bottom {
    display: none;
}
.sec04 .inner{
    width: 70%;
}
footer {
    width: 100%;
}
footer .inner {
    margin: unset;
}
footer .copybox {
    width: 80%;
    margin: 40px 60px 40px 60px;
    gap: 80px;
}
.fixebt{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
}
.fixebt.off{
    display: none;
}
.fixebt a{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorGrey);
    color: var(--colorBlack);
    /* font-size: 30px; */
    font-size: 1.875rem;
    letter-spacing: 1px;
}
.fixebt span{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorBlack);
    color: var(--colorWhite);
    /* font-size: 30px; */
    font-size: 1.875rem;
    cursor: pointer;
    letter-spacing: 1px;
}
.pdcheck{
    display: none;
}