@charset "UTF-8";

/* artbread tablet */

.top .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top .topL {
    margin: 0 50px 0 0;
}
.top .tel {
    flex: 1 0 214px;
    margin: 0px;
}
.top .topL span {
    /* font-size: 13px; */
    font-size: 0.8125rem;
}
.top .submenu ul {
    /* font-size: 15px; */
    font-size: 0.9375rem;
}
.top .topR .gnb1 {
    /* font-size: 10px; */
    font-size: 0.625rem;
}
.top .topR .search{
    display: flex;
    align-items: center;
}
.top .topR .search i {
    /* font-size: 17px; */
    font-size: 1.0625rem;
}
.top .topR .popup input{
    height: 40px;
    border-bottom: 3px solid var(--colorWhite);
    /* font-size: 25px; */
    font-size: 1.5625rem;
}
.top .topR .popup i:nth-of-type(1){
    /* font-size: 40px; */
    font-size: 2.5rem;
}
.top .topR .popup i:nth-of-type(2){
    /* font-size: 40px; */
    font-size: 2.5rem;
}
.header2 .inner {
    width: 100%;
    justify-content: space-around;
}
nav .gnb2 {
    /* font-size: 15px; */
    font-size: 0.9375rem;
}
nav a.logo {
    margin: -5px
}
.sec01 {
    width: 100%;
}
.sec01 .swiper-slide.img01 {
    background: url(/portfolio/images/artbread/slide01tb.png) no-repeat 50% 50% / cover;
}
.sec01 .swiper-slide.img02 {
    background: url(/portfolio/images/artbread/slide02tb.png) no-repeat 50% 50% / cover;
}
.sec02 {
    width: 100%;
    margin: 0 0 100px 0;
}
.sec03 {
    margin: 0 0 100px 0;
}
.sec03 .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec03 .xybox {
    flex-direction: column;
}
.sec03 .xybox > div:nth-child(2) {
    width: auto;
    height: 5px;
    margin: 20px 0 20px 0;
}
.sec03 .xybox > div:nth-child(2) {
    order: 2;
}
.sec03 .xbox {
    order: 3;
}
.sec03 .ybox {
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
}
.sec03 .ybox div {
    width: 100%;
}
.sec04 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 0 0 100px 0;
    gap: 50px;
}
.sec04 .review,
.sec04 .sns {
    justify-content: center;
}
.sec04 .review .inner {
    width: 100%;
}
.sec04 .sns .inner {
    width: 80%;
}
.sec04 .inner h3 {
    padding: 0 0 30px 0;
}
.sec04 .inner h3 a {
    order: 2;
}
.sec04 .review h3 {
    width: 80%;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}
.sec04 .sns h3 {
    position: relative;
    width: unset;
    justify-content: center;
}
.sec04 .review h3 > span:nth-of-type(2) {
    justify-content: center;
    display: flex;
}
.sec04 .reviewbox,
.sec04 .snsbox {
    justify-content: center;
}
.sec04 .review h3 a {
    position: absolute;
    right: 0px;
}
.sec04 .sns h3 a {
    position: absolute;
    right: 0px;
}
.sec04 .swiper {
    width: 80%;
}
.sec04 .swiper-slide.rvblock {
    width: 100%;
}
.sec04 .sns .snsbox a {
    width: 100%;
    height: 220px;
}
.sec05 {
    margin: 0 0 40px 0;
    justify-content: center;
}
.sec05 .newsR {
    display: none;
}
.sec05 .newsL {
    width: 80%;
    padding: 0;
    display: flex;
    justify-content: center;
}
.sec05 .inner {
    width: 100%;
}
.sec05 .newsL h3 > span {
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.sec05 .newsL ul {
    display: flex;
    display: none;
}
.sec05 .newsL ul.on {
    display: block;
    display: flex;
    justify-content: space-between;
}
.sec05 .newsL h3 span > span:nth-of-type(2) {
    display: unset;
}
.sec05 .newsL h3 span > span.on {
    border-bottom: 6px solid #4D6846;
}
footer {
    width: 100%;
}
footer .inner {
    margin: unset;
}
footer .copybox {
    width: 80%;
    margin: 40px 60px 40px 60px;
    gap: 80px;
}
.scroll{
    display: none;
}