@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트 noto sans korean */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,100,0,0');
/* googleIcons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
/* font-awsome v6.4.0 */
@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');
/* swiper 8.4.6 */

/* portfolio_minjikim pc */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* line-height: 1; */
    /* outline: 1px solid red; */
    word-break: keep-all;
    letter-spacing: -0.02rem;
    color: var(--colorWhite);
    background: var(--colorBlack);
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --colorDarkGrey: #535151;
    --colorGrey: #969696;
    --colorLightGrey: #d9d9d9;
    --colorGreen: #4d6846;
    --colorPinkCoral: #FFEEE4;
    --colorOrange: #EE7C1B;
    --colorPurple: #DC9CF2;
    --swiper-theme-color: #ffffff;
}
i > span {
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
h3{
    font-size: 50px;
    font-weight: 700;
    color: var(--colorPurple);
}
header{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
}
header .inner{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
header .inner a > p{
    font-size: 20px;
    font-weight: 400;
}
header .nav{
    display: flex;
    gap: 50px;
}
header .nav li{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
header .nav li:hover,
header .nav li.on{
    color: var(--colorPurple);
}
.sec01{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--colorWhite);
}
.sec01 .inner{
    width: 1200px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.sec01 .inner .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sec01 .inner .left{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.sec01 .inner .left .Aboutbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec01 .inner .left > p:first-of-type{
    font-size: 35px;
    font-weight: 400;
}
.sec01 .inner .left .txtbox{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec01 .inner .left .txtbox p:nth-of-type(1),
.sec01 .inner .left .txtbox p:nth-of-type(2),
.sec01 .inner .left .txtbox p:nth-of-type(3),
.sec01 .inner .left .txtbox p:nth-of-type(4){
    font-size: 25px;
    font-weight: 400;
}
.sec01 .inner .top .profile{
    /* background: url(/portfolio/images/portfolio_minjikim/profile.png) no-repeat 50% 50% / cover; */
    background: url(/portfolio/images/portfolio_minjikim/profile02.png) no-repeat 50% 50% / cover;
    width: 43%;
    height: 100%;
}
.sec01 .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec01 .bottom img{
    width: 10%;
}
.sec01 .bottom p{
    font-size: 30px;
}
.sec02{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--colorWhite);
}
.sec02 .inner{
    width: 1200px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.sec02 .inner .licensebox{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.sec02 .inner .licensebox .license{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.sec02 .inner .licensebox .license > div:first-of-type{
    width: 200px;
    height: 200px;
    background: var(--colorLightGrey);
    border-radius: 50%;
    position: relative;
}
.sec02 .inner .licensebox .license > .material-symbols-sharp::before{
    font-size: 150px;
    color: var(--colorBlack);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sec02 .inner .licensebox .license:nth-of-type(1) > .material-symbols-sharp::before{ content: "\e051";}
.sec02 .inner .licensebox .license:nth-of-type(2) > .material-symbols-sharp::before{ content: "\e1e6";}
.sec02 .inner .licensebox .license:nth-of-type(3) > .material-symbols-sharp::before{ content: "\e1b2";}
.sec02 .inner .licensebox .license:nth-of-type(4) > .material-symbols-sharp::before{ content: "\e873";}
.sec02 .inner .licensebox .license:nth-of-type(5) > .material-symbols-sharp::before{ content: "\f681";}
.sec02 .inner .licensebox .license .txtbox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sec02 .inner .licensebox .license p:first-of-type{
    font-size: 25px;
    font-weight: 400;
}
.sec02 .inner .licensebox .license p:nth-of-type(2){
    font-size: 17px;
    font-weight: 400;
    color: var(--colorGrey);
}
.sec03{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--colorWhite);
}
.sec03 .inner{
    width: 1200px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.sec03 .inner .skillbox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.sec03 .inner .skillbox .left{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.sec03 .inner .skillbox .right{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.sec03 .inner .skillbox p{
    font-size: 25px;
    font-weight: 400;
}
.sec03 .inner .skillbox .skill{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.sec03 .inner .skillbox .skill > div{
    width: 100px;
    height: 100px;
}
.sec03 .inner .skillbox .left .skill:nth-of-type(1) div:first-of-type{
    background: url(/portfolio/images/portfolio_minjikim/skill01.png);
}
.sec03 .inner .skillbox .left .skill:nth-of-type(2) div:first-of-type{
    background: url(/portfolio/images/portfolio_minjikim/skill02.png);
}
.sec03 .inner .skillbox .left .skill:nth-of-type(3) div:first-of-type{
    background: url(/portfolio/images/portfolio_minjikim/skill03.png);
}
.sec03 .inner .skillbox .right .skill:nth-of-type(1) div:first-of-type{
    background: url(/portfolio/images/portfolio_minjikim/skill04.png);
}
.sec03 .inner .skillbox .right .skill:nth-of-type(2) div:first-of-type{
    background: url(/portfolio/images/portfolio_minjikim/skill05.png);
}
.sec03 .inner .skillbox .right .skill:nth-of-type(3) div:first-of-type{
    background: url(/portfolio/images/portfolio_minjikim/skill06.png);
}
.sec03 .inner .skillbox .right .skill:nth-of-type(4) div:first-of-type{
    background: url(/portfolio/images/portfolio_minjikim/skill07.png);
}
.sec04{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--colorWhite);
}
.sec04 .inner{
    width: 1200px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.swiper{
    width: 100%;
}
.sec04 .swiper-slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.sec04 .thumbnail01{
    background: url(/portfolio/images/portfolio_minjikim/thumbnail01.png) no-repeat 50% 50% / cover;
    width: 600px;
    height: 400px;
}
.sec04 .contentsbox01{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec04 .contentsbox01 .title{
    display: flex;
    gap: 20px;
}
.sec04 .contentsbox01 .title p{
    font-size: 25px;
    font-weight: 400;
}
.sec04 .contentsbox01 .title span{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorLightGrey);
    font-size: 20px;
    font-weight: 400;
    color: var(--colorBlack);
    padding: 5px 15px;
    border-radius: 100px;
}
.sec04 .contentsbox01 .concept{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec04 .contentsbox01 .concept p:first-of-type{
    font-size: 25px;
    font-weight: 400;
}
.sec04 .contentsbox01 .concept p:last-of-type{
    font-size: 20px;
    font-weight: 400;
}
.sec04 .contentsbox01 .color{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec04 .contentsbox01 .color p{
    font-size: 25px;
    font-weight: 400;
}
.sec04 .contentsbox01 .color .colorbox{
    display: flex;
    gap: 25px;
}
.sec04 .contentsbox01 .color .colorbox div{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.sec04 .contentsbox01 .color .colorbox > div:nth-of-type(1){
    background: var(--colorGreen);
}
.sec04 .contentsbox01 .color .colorbox > div:nth-of-type(2){
    background: var(--colorWhite);
}
.sec04 .contentsbox01 .link{
    display: flex;
    gap: 15px;
}
.sec04 .contentsbox01 .link a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--colorWhite);
}
.sec04 .contentsbox01 .link a p{
    font-size: 20px;
    font-weight: 400;
}
.sec04 .thumbnail02{
    background: url(/portfolio/images/portfolio_minjikim/thumbnail02.png) no-repeat 50% 50% / cover;
    width: 600px;
    height: 400px;
}
.sec04 .contentsbox02{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec04 .contentsbox02 .title{
    display: flex;
    gap: 20px;
}
.sec04 .contentsbox02 .title p{
    font-size: 25px;
    font-weight: 400;
}
.sec04 .contentsbox02 .title span{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorLightGrey);
    font-size: 20px;
    font-weight: 400;
    color: var(--colorBlack);
    padding: 5px 15px;
    border-radius: 100px;
}
.sec04 .contentsbox02 .concept{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec04 .contentsbox02 .concept p:first-of-type{
    font-size: 25px;
    font-weight: 400;
}
.sec04 .contentsbox02 .concept p:last-of-type{
    font-size: 20px;
    font-weight: 400;
}
.sec04 .contentsbox02 .color{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sec04 .contentsbox02 .color p{
    font-size: 25px;
    font-weight: 400;
}
.sec04 .contentsbox02 .color .colorbox{
    display: flex;
    gap: 25px;
}
.sec04 .contentsbox02 .color .colorbox div{
    width: 70px;
    height: 70px;
    border-radius: 100px;
}
.sec04 .contentsbox02 .color .colorbox > div:nth-of-type(1){
    background: var(--colorPinkCoral);
}
.sec04 .contentsbox02 .color .colorbox > div:nth-of-type(2){
    background: var(--colorOrange);
}
.sec04 .contentsbox02 .color .colorbox > div:nth-of-type(3){
    background: var(--colorWhite);
}
.sec04 .contentsbox02 .link{
    display: flex;
    gap: 15px;
}
.sec04 .contentsbox02 .link a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid var(--colorWhite);
}
.sec04 .contentsbox02 .link a p{
    font-size: 20px;
    font-weight: 400;
}
.sec05{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--colorWhite);
}
.sec05 .inner{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sec05 .inner .contactbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.sec05 .inner .contactbox .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.sec05 .inner .contactbox .left p:nth-of-type(1),
.sec05 .inner .contactbox .left p:nth-of-type(2){
    font-size: 25px;
    font-weight: 700;
}
.sec05 .inner .contactbox .left p:nth-of-type(3),
.sec05 .inner .contactbox .left p:nth-of-type(4){
    font-size: 25px;
    font-weight: 400;
}
.sec05 .right form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sec05 .inner .contactbox .right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sec05 .inner .contactbox .right .formbox{
    width: 100%;
    display: flex;
    gap: 20px;
}
.sec05 .inner .contactbox .right .text,
.sec05 .inner .contactbox .right .tel,
.sec05 .inner .contactbox .right .email{
    display: flex;
    gap: 15px;
    width: 100%;
}
.sec05 .inner .contactbox .right .text input,
.sec05 .inner .contactbox .right .tel input,
.sec05 .inner .contactbox .right .email input{
    border: none;
    border-bottom: 1px solid var(--colorWhite);
    flex: 1 1 50%;
    background: transparent;
    color: var(--colorWhite);
    font-size: 14px;
}
.sec05 .inner .contactbox .right .message textarea{
    margin: 15px 0 0 0;
    background: transparent;
    color: var(--colorWhite);
    font-size: 14px;
}
.sec05 .inner .contactbox .right p{
    font-size: 25px;
    font-weight: 400;
}
.sec05 .inner .contactbox .right .submit input{
    background: var(--colorPurple);
    padding: 20px 30px;
    border: none;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
}
footer{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--colorWhite);
}
footer .inner{
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .inner p{
    font-size: 25px;
    font-weight: 400;
}









