@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 구글폰트 noto sans korean */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
/* font-awsome v6.3.0 */
@import url('https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css');
/* swiper 8.4.6 */

/* portfolio_minjikim pc */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* line-height: 1; */
    /* outline: 1px solid red; */
    word-break: keep-all;
    letter-spacing: -0.02rem;
    color: var(--colorBlack);
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --colorDarkGrey: #535151;
    --colorGrey: #969696;
    --colorLightGrey: #d9d9d9;
    --swiper-theme-color: #ffffff;
}
i > span {
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}